# Context

It's not that we humans only take debts to manage our necessities. A country may also take debt to manage its economy. For example, infrastructure spending is one costly ingredient required for a country's citizens to lead comfortable lives. [The World Bank](https://www.worldbank.org) is the organization that provides debt to countries.

In this notebook, we are going to analyze international debt data collected by The World Bank. The dataset contains information about the amount of debt (in USD) owed by developing countries across several categories. We are going to find the answers to questions like: 

- What is the total amount of debt that is owed by the countries listed in the dataset?
- Which country owns the maximum amount of debt and what does that amount look like?
- What is the average amount of debt owed by countries across different debt indicators?

In [22]:
# importing libraries

import pandas as pd
import sqlite3

In [23]:
# installing the ipython-sql library

!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\ubnap\anaconda3\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\ubnap\anaconda3\lib\site-packages (from ipython-sql) (3.10.0)
Requirement already satisfied: ipython in c:\users\ubnap\appdata\roaming\python\python311\site-packages (from ipython-sql) (8.23.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\ubnap\anaconda3\lib\site-packages (from ipython-sql) (2.0.25)
Requirement already satisfied: sqlparse in c:\users\ubnap\anaconda3\lib\site-packages (from ipython-sql) (0.5.0)
Requirement already satisfied: six in c:\users\ubnap\appdata\roaming\python\python311\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\ubnap\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\ubnap\appdata\roaming\python\python311\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\ubnap\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.1)
Requirement already satisfied: decorator in c:\users\ubnap\appdata\roaming\python\python311\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\ubnap\appdata\roaming\python\python311\site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\users\ubnap\appdata\roaming\python\python311\site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\ubnap\appdata\roaming\python\python311\site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\ubnap\appdata\roaming\python\python311\site-packages (from ipython->ipython-sql) (2.17.2)
Requirement already satisfied: stack-data in c:\users\ubnap\appdata\roaming\python\python311\site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\ubnap\appdata\roaming\python\python311\site-packages (from ipython->ipython-sql) (5.14.2)
Requirement already satisfied: colorama in c:\users\ubnap\appdata\roaming\python\python311\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\ubnap\appdata\roaming\python\python311\site-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\ubnap\appdata\roaming\python\python311\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: executing>=1.2.0 in c:\users\ubnap\appdata\roaming\python\python311\site-packages (from stack-data->ipython->ipython-sql) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\ubnap\appdata\roaming\python\python311\site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in c:\users\ubnap\appdata\roaming\python\python311\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

In [24]:
# creating dataframe to import data
international_debt = pd.read_csv("international_debt.csv")
international_debt.head()

,country_name,country_code,indicator_name,indicator_code,debt
0,Afghanistan,AFG,"Disbursements on external debt, long-term (DIS...",DT.DIS.DLXF.CD,72894453.7
1,Afghanistan,AFG,"Interest payments on external debt, long-term ...",DT.INT.DLXF.CD,53239440.1
2,Afghanistan,AFG,"PPG, bilateral (AMT, current US$)",DT.AMT.BLAT.CD,61739336.9
3,Afghanistan,AFG,"PPG, bilateral (DIS, current US$)",DT.DIS.BLAT.CD,49114729.4
4,Afghanistan,AFG,"PPG, bilateral (INT, current US$)",DT.INT.BLAT.CD,39903620.1

In [25]:
#creating a connection

cnn = sqlite3.connect('world_bank_debt.db')

In [28]:
international_debt.to_sql('world_debt',cnn)
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [29]:
%sql sqlite:///world_bank_debt.db

In [35]:
%%sql
SELECT COUNT(DISTINCT(country_name)) AS total_distinct_countries
FROM world_debt;

   sqlite:///wb_debt.db
 * sqlite:///world_bank_debt.db
Done.

[(124,)]

In [40]:
%%sql
SELECT DISTINCT(indicator_name) AS distinct_debt_indicators
FROM world_debt
ORDER BY distinct_debt_indicators;

   sqlite:///wb_debt.db
 * sqlite:///world_bank_debt.db
Done.

[('Disbursements on external debt, long-term (DIS, current US$)',),
 ('Interest payments on external debt, long-term (INT, current US$)',),
 ('Interest payments on external debt, private nonguaranteed (PNG) (INT, current US$)',),
 ('PPG, bilateral (AMT, current US$)',),
 ('PPG, bilateral (DIS, current US$)',),
 ('PPG, bilateral (INT, current US$)',),
 ('PPG, bonds (AMT, current US$)',),
 ('PPG, bonds (INT, current US$)',),
 ('PPG, commercial banks (AMT, current US$)',),
 ('PPG, commercial banks (DIS, current US$)',),
 ('PPG, commercial banks (INT, current US$)',),
 ('PPG, multilateral (AMT, current US$)',),
 ('PPG, multilateral (DIS, current US$)',),
 ('PPG, multilateral (INT, current US$)',),
 ('PPG, official creditors (AMT, current US$)',),
 ('PPG, official creditors (DIS, current US$)',),
 ('PPG, official creditors (INT, current US$)',),
 ('PPG, other private creditors (AMT, current US$)',),
 ('PPG, other private creditors (DIS, current US$)',),
 ('PPG, other private creditors (INT, current US$)',),
 ('PPG, private creditors (AMT, current US$)',),
 ('PPG, private creditors (DIS, current US$)',),
 ('PPG, private creditors (INT, current US$)',),
 ('Principal repayments on external debt, long-term (AMT, current US$)',),
 ('Principal repayments on external debt, private nonguaranteed (PNG) (AMT, current US$)',)]

In [43]:
%%sql
SELECT ROUND(SUM(debt / 1000000), 2) AS total_debt
FROM world_debt;

   sqlite:///wb_debt.db
 * sqlite:///world_bank_debt.db
Done.

[(3079734.49,)]

In [44]:
%%sql

SELECT country_name, SUM(debt) AS total_debt 
FROM world_debt
GROUP BY country_name
ORDER BY total_debt DESC
LIMIT 1;

   sqlite:///wb_debt.db
 * sqlite:///world_bank_debt.db
Done.

[('China', 285793494734.2)]

In [23]:
--avg_debt_per_indicator
SELECT indicator_code AS debt_indicator, indicator_name, AVG(debt) AS average_debt 
FROM international_debt
GROUP BY debt_indicator, indicator_name
ORDER BY average_debt DESC
LIMIT 10;

   debt_indicator  ...  average_debt
0  DT.AMT.DLXF.CD  ...  5.904868e+09
1  DT.AMT.DPNG.CD  ...  5.161194e+09
2  DT.DIS.DLXF.CD  ...  2.152041e+09
3  DT.DIS.OFFT.CD  ...  1.958983e+09
4  DT.AMT.PRVT.CD  ...  1.803694e+09
5  DT.INT.DLXF.CD  ...  1.644024e+09
6  DT.DIS.BLAT.CD  ...  1.223139e+09
7  DT.INT.DPNG.CD  ...  1.220411e+09
8  DT.AMT.OFFT.CD  ...  1.191188e+09
9  DT.AMT.PBND.CD  ...  1.082624e+09

[10 rows x 3 columns]

In [48]:
%%sql 

SELECT world_debt.country_name, world_debt.indicator_name 
FROM world_debt
WHERE debt = (SELECT MAX(debt) 
			  FROM world_debt
			  WHERE indicator_code = 'DT.AMT.DLXF.CD');

   sqlite:///wb_debt.db
 * sqlite:///world_bank_debt.db
Done.

[('China', 'Principal repayments on external debt, long-term (AMT, current US$)')]